.contenedor-nav{
    width: 1440px;
    max-width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 1;
}
.navbar{
    background-color: #94181a;
    display: flex;
    justify-content: space-around;
    
}

.navbar a{
    color: white;  
}